body{
	background-color:#808080;
	section{
		width:600px;
		&.header, &.footer{
			background-color:#eee;
		}
		h1{
			margin:0 auto;
			padding:20px;
		}
		&.cart-view{
			background-color:#fff;
			padding:20px;
			width:560px;
			table{
				 border-spacing: 0;
				 border:3px solid #333;
			}
			table td, table th{
				padding:10px;
				border-left:1px solid #666;
				border-right:1px solid #666;
			}
			table th{
				border-bottom:3px solid #333;
			}
		}
		&.footer{
			padding:20px;
			width:560px;
		}
	}
}